<app-navbar></app-navbar>

<div class="hero ">
    <div class="align-items-center text-center mb-5 fade-in">
        <h1>About Eventura</h1>
        <p>We are passionate about crafting unforgettable weddings and events with elegance, precision, and a touch of magic. With years of experience, we've turned dreams into reality for countless couples and clients.</p>
    </div>
</div>

<div class="site-container m-5">
    <section class="stats-section fade-in">
        <h2>Our Achievements</h2>
        <div class="stats-row">
            <div class="stat-card">
                <h3>{{ eventsCount }}</h3>
                <p>Events Planned</p>
            </div>
            <div class="stat-card">
                <h3>{{ clientsCount }}</h3>
                <p>Happy Clients</p>
            </div>
            <div class="stat-card">
                <h3>{{ years }}</h3>
                <p>Years of Experience</p>
            </div>
        </div>
    </section>

    <section class="about-story fade-in">
        <h2>Our Story</h2>
        <p>Founded with a vision to redefine event planning, Eventura combines creativity, meticulous planning, and unparalleled attention to detail. From intimate weddings to grand celebrations, we ensure every moment is perfect.</p>
    </section>

    <section class=" fade-in">
        <h2>MEET OUR TEAM</h2>

    </section>
</div>

<app-footer></app-footer>


