<div class="auth position-relative">
  <button class="dark-mode-toggle position-absolute top-0" (click)="toggleDarkMode()" aria-label="Toggle dark mode">
    <span class="icon">{{ isDarkMode ? '☀️' : '🌙' }}</span>
  </button>
  <div class="img text-center">
    <img src="assets/logo.png" alt="Eventura Logo" height="200" class="fade-in center">
  </div>
  <div class="auth-header">
    <h2>Welcome back</h2>
  </div>

  <div class="role-select" *ngIf="!roleSelected">
    <button class="role-btn" (click)="selectRole('Admin')">Admin</button>
    <button class="role-btn" (click)="selectRole('Organizer')">Organizer</button>
    <button class="role-btn" (click)="selectRole('Guest')">Guest</button>
  </div>

  <div *ngIf="roleSelected" class="role-chosen">
    <h3 class="role-title">{{ roleSelected }}</h3>
  </div>

  <form *ngIf="roleSelected" (submit)="onSubmit($event)" novalidate>
    <div>
      <label class="form-label">Email address</label>
      <input class="form-control" name="email" [(ngModel)]="email" required type="email" />
      <div class="field-error" *ngIf="email && !email.includes('@')">Please enter a valid email</div>
    </div>

    <div>
      <label class="form-label">Password</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="password" required />
      <div class="field-error" *ngIf="password === ''">Password is required</div>
    </div>

    <div class="actions">
      <button type="submit" class="btn btn-secondary" [disabled]="!email || !password">Login</button>
      <button type="button" class="btn " (click)="reset()">Change Role</button>
    </div>
  </form>

  <div class="signin-link">
    <span>Don't have an account?</span>
    <a routerLink="/register">Register</a>
  </div>
</div>
